// 添加额外的样式

// 全站变灰(哀悼日)
// html 
//   filter grayscale(100%)
//   -webkit-filter grayscale(100%)
//   -moz-filter grayscale(100%)
//   -ms-filter grayscale(100%)
//   -o-filter grayscale(100%)

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
  background: #cfcfcf;
}

// 渐变色标题
.navbar .site-name {
  background-image: -webkit-linear-gradient(left,
   #22c1c3, #fdbb2d 25%, #22c1c3 50%, #fdbb2d 75%, #22c1c3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;
}
@keyframes myGradientChange  {
  0%{ background-position: 0 0;}
  100% { background-position: -100% 0;}
}

.theme-container
  // 限制主页图片大小
  .home .hero img
    max-height 230px

h2
  border none
